# [ DataFrame 살펴보기 ]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈 로딩 -----------------------------------------

In [131]:
from pandas import DataFrame

(2) 데이터 준비 ------------------------------

In [132]:
data=[[11,22,33], [44,55,66], [77,88,99]]

(3) DataFrame으로 저장 즉, DataFrame 객체 생성 --------

In [133]:
df1=DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4)DataFrame의 속성 읽기 => 객체변수명.속성명---------

In [134]:
df1.index          # 세로 0,1이 index이자 행(가로)

RangeIndex(start=0, stop=3, step=1)

In [135]:
df1.columns        # 가로 0,1,2가 columns이자 열(세로)

RangeIndex(start=0, stop=3, step=1)

In [136]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [137]:
# 데이터가 저장된 표의 형태
df1.shape

(3, 3)

In [138]:
# 데이터의 차원정보 n-dimention
df1.ndim

2

In [139]:
# cloumn별로 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 지정 ===> 1개 원소

- column 즉 열 읽기 ==> 객체변수명[인덱스]

In [140]:
df1[0]

0    11
1    44
2    77
Name: 0, dtype: int64

In [141]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [142]:
## column 변경 ---------------------------------
df1.columns=['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [143]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [144]:
df1.A

0    11
1    44
2    77
Name: A, dtype: int64

In [145]:
df1.columns=[0,1,2]
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

In [146]:
zeroCol = df1[0]
type(zeroCol)

pandas.core.series.Series

In [147]:
# column 레이블 설정 후 정수 인덱싱 불가!!
#df1.0

- row 즉 행 읽기 ==> 방법 2가지
    * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [148]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

In [149]:
df1.index=['one', 'two', 'three']

In [150]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99

In [151]:
one = df1.loc['one']
type(one)

pandas.core.series.Series

In [152]:
zero = df1.iloc[0]
type(zero)

pandas.core.series.Series

(6) 모든 원소를 한번에 한개씩만 출력

In [153]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99

- 객체변수명.iloc[행인덱스, 열인덱스]/ 객체변수명.loc[행레이블, 열인덱스 or 열레이블]

In [154]:
df1.iloc[0,0], df1.iloc[0,1], df1.iloc[1,0] , df1.iloc[1,2]

(11, 22, 44, 66)

In [155]:
df1.loc['one',0], df1.loc['one',2], df1.loc['two',0,1], df1.loc['two',2,1]

IndexingError: Too many indexers

In [117]:
# column명 변경 => 객체변수명.columns=새로운컬럼명
df1.columns=['A','B','C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [118]:
df1.loc['one','B'], df1.loc['two','C'], df1.loc['one']['B'], df1.loc['two']['C']

KeyError: 'one'

In [119]:
df1.iloc[0,1], df1.iloc[1,2]

(22, 66)

In [120]:
df1.iloc[0][1], df1.iloc[1][2]

(22, 66)

In [121]:
zero = df1.iloc[0]
zero

A    11
B    22
C    33
Name: 0, dtype: int64

In [122]:
b=df1['B']
b

0    22
1    55
2    88
Name: B, dtype: int64

In [123]:
df1.index, df1.columns

(RangeIndex(start=0, stop=3, step=1), Index(['A', 'B', 'C'], dtype='object'))

In [124]:
df1.shape[0], df1.shape[1]

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호

In [125]:
for row in range(df1.shape[0]):
    print(row)

0
1
2

In [126]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row, col)

0
0 0
0 1
0 2
1
1 0
1 1
1 2
2
2 0
2 1
2 2

In [127]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row, col, df1.iloc[row, col])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66
2
2 0 77
2 1 88
2 2 99

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름

In [128]:
df1.index, df1.columns

(RangeIndex(start=0, stop=3, step=1), Index(['A', 'B', 'C'], dtype='object'))

In [129]:
for row in df1.index:
    print(row)

0
1
2

In [130]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('----', col, df1.loc[row,col])

0
---- A 11
---- B 22
---- C 33
1
---- A 44
---- B 55
---- C 66
2
---- A 77
---- B 88
---- C 99

### [문제] one, three 행을 선택 후 저장

In [168]:
one = df1.loc['one']      # 시리즈 출력
type(one), one

(pandas.core.series.Series,
 0    11
 1    22
 2    33
 Name: one, dtype: int64)

In [170]:
onethreeDF = df1.loc[['one','three']]
type(onethreeDF) ,onethreeDF

(pandas.core.frame.DataFrame,
         0   1   2
 one    11  22  33
 three  77  88  99)

In [172]:
df1.loc[['one']]         # 대괄호 안에 어떠한 괄호가 있으면 그것은 혼자가 있는 것이 아니기에 데이터프레임

      0   1   2
one  11  22  33