### [ Series 객체 원소 인덱싱 & 슬라이싱]

(1) 모듈 로딩 -------------------------------------

In [37]:
from pandas import Series

(2) 데이터 준비 ------------------------------------

In [38]:
datas={'name':'Hong', 'age':12, 'job':'Thief'}

(3) Series 객체 생성 ----------------------------------

In [39]:
sr1=Series(datas)

In [40]:
sr1

name     Hong
age        12
job     Thief
dtype: object

(4) 인덱싱으로 원소 읽기 ------------------------------

=> 1개 원소 읽기

In [58]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [46]:
# 이름과 직업 데이터 읽기 ==> 원소 단위
sr1['name'],sr1['job'],  sr1[0], sr1[2], type(sr1[0])

('Hong', 'Thief', 'Hong', 'Thief', str)

In [47]:
a=[1,2,3]
b=(11,22,33)

In [45]:
a[0], type(a[0])

(1, int)

In [44]:
a[:1], type(a[:1])

([1], list)

In [43]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret = sr1[['name', 'job']]
ret2 = sr1[[0, 2]]
type(ret), ret

(pandas.core.series.Series,
 name     Hong
 job     Thief
 dtype: object)

In [42]:
type(ret2), ret2

(pandas.core.series.Series,
 name     Hong
 job     Thief
 dtype: object)

(5)슬라이싱으로 원소 읽기 ---------------------------

In [49]:
# 위치 인덱스로 슬라이싱 -------------------------------------
sr1[:2]                # 시작 <= ~ < 끝

name    Hong
age       12
dtype: object

In [50]:
sr1[:]                # 시작 <= ~ < 끝

name     Hong
age        12
job     Thief
dtype: object

In [52]:
sr1[:-1]                # 시작 <= ~ < 끝

name    Hong
age       12
dtype: object

In [53]:
sr1[:-2]                # 시작 <= ~ < 끝

name    Hong
dtype: object

(6)레이블 인덱스로 슬라이싱 ---------------------------------------

In [54]:
sr1['name':'job']     # 시작 <= ~ <= 끝

name     Hong
age        12
job     Thief
dtype: object

In [55]:
sr1['name':'age']     # 시작 <= ~ <= == sr1[:2]

name    Hong
age       12
dtype: object