## [DataFrame에 행/열 추가]

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [2]:
# dict 타입의 데이터 생성
exam={'이름':['김','이','박','조','전'],
       '국어': [90,60,40,39,84],
       '수학': [80,30,40,20,35],
       '사회': [30,35,49,97,45],
       '과학': [47,60,30,65,87],
       '체육': [90,70,60,59,99]}

(3) DataFrame에 데이터 저장 <hr>

In [3]:
examDF=pd.DataFrame(exam)

In [5]:
examDF

  이름  국어  수학  사회  과학  체육
0  김  90  80  30  47  90
1  이  60  30  35  60  70
2  박  40  40  49  30  60
3  조  39  20  97  65  59
4  전  84  35  45  87  99

(4) 저장된 데이터 속성 확인 <hr>

In [14]:
def printAttribute(df,dfname):
    print(f'[{dfname} Attributes]')
    print(f'index\n ==> {df.index}')
    print(f'columns\n ==> {df.columns}')
    print(f'shape\n ==> {df.shape}')
    print(f'ndim\n ==> {df.ndim}')
    print(f'size\n ==> {df.size}')
    print(f'dtypes\n ==> {df.dtypes}')

In [15]:
printAttribute(examDF, 'examDF')

[examDF Attributes]
index
 ==> RangeIndex(start=0, stop=5, step=1)
columns
 ==> Index(['이름', '국어', '수학', '사회', '과학', '체육'], dtype='object')
shape
 ==> (5, 6)
ndim
 ==> 2
size
 ==> 30
dtypes
 ==> 이름    object
국어     int64
수학     int64
사회     int64
과학     int64
체육     int64
dtype: object