## [DataFrame 인덱스 다루기]

- (1) 새로운 인덱스 설정 : 컬럼 ==> 인덱스 설정

- (1) 모듈 로딩<hr>

In [22]:
import pandas as pd

- (2) 데이터 준비<hr>

In [23]:
# dict 타입의 데이터 생성
exam={'이름':['김','이','박','조'],
       '국어': [90,60,40,39],
       '수학': [80,30,40,20],
       '사회': [30,35,49,97],
       '과학': [47,60,30,65]
     }

- (3) 데이터 저장

In [24]:
examDF=pd.DataFrame(exam)

- (4) 데이터 확인

In [25]:
examDF

  이름  국어  수학  사회  과학
0  김  90  80  30  47
1  이  60  30  35  60
2  박  40  40  49  30
3  조  39  20  97  65

- (5) 새로운 인덱스 설정 : 컬럼 ==> 인덱스 일부 변경 DF.rename()

In [26]:
# 행 인덱스 일부 변경 => {기존인덱스:새로운인덱스}
# inplace 매개변수/파라미터 => 원본 DataFrame에 변경 여부 결정, 기본은 원본 변경 안함 False!!
examDF.rename(index={0:'zero'}, inplace=True)

In [27]:
examDF

     이름  국어  수학  사회  과학
zero  김  90  80  30  47
1     이  60  30  35  60
2     박  40  40  49  30
3     조  39  20  97  65

In [29]:
# 열 이름 인덱스 일부 변경 => column={기존인덱스:새로운인덱스}
examDF.rename(columns={'과학':'영어'}, inplace=True)

In [31]:
examDF.columns

Index(['이름', '국어', '수학', '사회', '영어'], dtype='object')