### [다양한 Series 객체 생성]

### (1) 모듈 로딩

In [5]:
import pandas as pd

#### (2) Series 객체 생성 - 방법1
- series(data, index=지정)

In [6]:
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'])
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법2

In [7]:
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법3

In [8]:
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu', dtype='uint8')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: uint8

#### (2) Series 객체 생성 - 방법4 => 저장되는 데이터 dict

In [13]:
data = {'name': 'hong', 'age':12, 'job':'Thief'}

sr1=pd.Series(data)
sr1

name     hong
age        12
job     Thief
dtype: object

In [15]:
# 속성 확인하기
print(sr1.index, sr1.values, sep='\n')

Index(['name', 'age', 'job'], dtype='object')
['hong' 12 'Thief']

In [16]:
sr1.index, sr1.values

(Index(['name', 'age', 'job'], dtype='object'),
 array(['hong', 12, 'Thief'], dtype=object))

#### (2) Series 객체 생성 - 방법5 => 저장되는 데이터 set

In [19]:
data = {'hong', 12, 'Thief'}   # 순서없는 데이터, 중복 불허

# 형변환 후 객체 생성 가능
sr1=pd.Series(list(data), index=[1,2,3])
sr1

1    Thief
2       12
3     hong
dtype: object